#preview__scan_region img {
    margin: auto;
}


#preview__dashboard_section_swaplink{
    visibility: hidden;
}

.spinner {
  top: 50vh;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
}

.spinner-2 {
  width:50px;
  height:50px;
  border-radius:50%;
  border:8px solid;
  border-color:lightblue;
  border-right-color: orange;
  animation:s2 1s infinite linear;
}
@keyframes s2 {to{transform: rotate(1turn)}}

.progress-7 {
  width: 120px;
  height: 20px;
  -webkit-mask: radial-gradient(circle closest-side,#000 94%,#0000) left/20% 100%;
  background: linear-gradient(#F59E0B 0 0) left/0% 100% no-repeat #ddd;
  animation: p7 2s infinite steps(6);
}
@keyframes p7 {
  100% {background-size:120% 100%}
}